$main-color: #175F82;
$secondary-color: #188383;

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@mixin border-radius($x) {
    -webkit-border-radius: $x;
    -moz-border-radius: $x;
    border-radius: $x; 
}
@mixin transition($p, $d, $t) {
	transition-property: $p;
	transition-duration: $d;	
	transition-timing-function: $t;
	-webkit-transition-property: $p;
	-webkit-transition-duration: $d;
	-webkit-transition-timing-function: $t;
	-ms-transition-property: $p;
	-ms-transition-duration: $d;
	-ms-transition-timing-function: $t;	
}
@mixin transformOrigin($y, $x) {
	-ms-transform-origin: $y $x; 
    -webkit-transform-origin: $y $x; 
    transform-origin: $y $x;
}
@mixin rotate($d) {
	-ms-transform: rotate($d);
    -webkit-transform: rotate($d); 
    transform: rotate($d); 
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0; 
    left: 0;
    background-color: transparent !important;
    opacity: 0.7;
    z-index: 10;
}
body {
    background: transparent;
    font-family: 'Roboto', sans-serif;
}
.section {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 120px;
    padding-top: 50px;
    margin-top: 180px;
    &-title {
        padding: 0;
        color: $main-color;
        font-size: 4rem;
        font-family: 'Roboto', sans-serif !important;
        &-icon {
            font-size: 3rem;
        }
        &-line {
            display: none;
            background: $main-color;
            position: relative;
            top: -50px;
            right: 0;
            width: 70px;
            height: 2px;
            margin-left: -15px;
            margin-right: -15px;
            @include rotate(-45deg);
        }
        &::after {
            content: "";
            position: relative;
            right: 0;
            display: block;
            width: 100%;
            height: 2px;
            background: $main-color;
        }
    }
}
@media screen and (min-width: 611px) {
    .section {
        margin-top: 140px;
    }
}
@import 'components/loading';
@import 'components/navbar';
@import 'components/home';
@import 'components/about';
@import 'components/mentors';
@import 'components/mentor';
@import 'components/companies';
@import 'components/trainings';
@import 'components/training';
@import 'components/students';
@import 'components/contact';
@import 'components/footer';
@import 'materialize/materialize';