.about {
    // padding-top: 120px;
    min-height: 100vh;
    background: #FFFFFF;
    &-particles-js {
        position: fixed !important;
    }
    &-section {
        align-items: flex-start;
        &-title {
            // margin-top: 65px;
        }
    }
    &-img {
        padding-top: 20px;
    }
    &-text {
        padding-top: 15px;
        color: #444444;
        &-bold {
            margin-bottom: 0;
        }
        &-blue {
            color: $main-color;
        }
    }
}
@media screen and (max-width: 420px) {
    .about {
        .section-title {
            font-size: 3rem;
        }
    }
}
@media screen and (max-width: 335px) {
    .about {
        .section-title {
            font-size: 2rem;
        }
    }
}
@media screen and (max-width: 767px) {  
    .about {
        &-text {
            margin-top: 50px;
        }
    }
}
@media screen and (min-width: 768px) {  
    .about {
        &-img {
            position: sticky;
            top: 120px;
        }
    }
}

@media screen and (min-width: 465px) and (max-width: 1199px) {
    .about-section-title {
        text-align: right !important;
        .section-title {
            display: block;

            margin-right: 45px !important;
            &-line {
                top: -49px;
                right: 0;
                display: inline-block;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .about-section-title {
        text-align: right !important;
        .section-title {
            margin-right: 45px !important;
            &-line {
                display: inline-block;
            }
        }
    }
}