.companies {
    // padding-top: 140px;
    .section-title {
        // margin-top: 40px;
    }
    &-image {
        position: relative;
        margin-top: 30px;
        width: 100%;
        background-color: #FFFFFF;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        &-hover-bg {
            width: 100%;
            padding-bottom: 70%;
            background: rgba(23, 95, 130, .5);
            opacity: 0;
        }
    } 
    .company-container {
        &:hover {
            .companies-image-hover-bg {
                opacity: 1;
            }
        }
    }
}
@media screen and (max-width: 420px) {
    .companies {
        .section-title {
            font-size: 3rem;
        }
    }
}
@media screen and (max-width: 335px) {
    .companies {
        .section-title {
            font-size: 2rem;
        }
    }
}
@media screen and (max-width: 767px) {  
    .companies {
        &-text {
            margin-top: 50px;
        }
    }
}
@media screen and (min-width: 768px) {  
    .companies {
      
    }
}

@media screen and (min-width: 465px) and (max-width: 1199px) {
    .companies-section-title {
        text-align: right !important;
        .section-title {
            display: block;

            margin-right: 45px !important;
            &-line {
                top: -49px;
                right: 0;
                display: inline-block;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .companies-section-title {
        text-align: right !important;
        .section-title {
            margin-right: 45px !important;
            &-line {
                display: inline-block;
            }
        }
    }
}