.contact {
    // padding-top: 100px;
    padding-bottom: 70px;
    min-height: 100vh;
    background: #FFFFFF;
   .section-title {
        margin-left: 15px;
        margin-right: 60px;
        text-align: right;
        &-line {
            position: absolute;
            top: 52px;
            right: 30px;
            display: block;
        }
    }
    .form {
        padding-top: 50px;
        .input-field {
            .material-icons {
                font-size: 24px;
                color: $main-color;
                
            }
            label {
                color: rgba(23, 95, 130, .85);
                left: 0.75rem;
                &[for="surname"] {
                    left: 0.9rem;
                }
            }
            .validate {
                border-bottom: 1px solid $main-color;
                &:not(.select-dropdown):not(#surname) {
                    margin-left: 2.7rem;
                }
                &:focus {
                    border-bottom: 1px solid $main-color;
                    box-shadow:  0 1px 0 0 $main-color;
                }
            }
            .materialize-textarea {
                border-bottom: 1px solid $main-color;
                margin-left: 2.7rem;
                &:focus {
                    border-bottom: 1px solid $main-color;
                    box-shadow:  0 1px 0 0 $main-color;
                }
            }
        }
        .button-section {
            padding-top: 20px;
            padding-bottom: 50px;
            .contact-btn {
                height: auto;
                line-height: auto;
                margin: 40px auto 0;
                color: $main-color;
                @include border-radius(28px);
                background: transparent;
                font-weight: normal;
                font-size: .8rem;
                padding: 10px;
                border: 2px solid $main-color;
                text-transform: none !important;
                &:hover {
                    background-color: $main-color;
                    color: #FFFFFF;
                    cursor: pointer;
                }
                &:focus {
                    background-color: $main-color;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
        }
    }
    &-map {
        height: calc(100vh - 100px);
        &-section {
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;
        }
    }
    iframe {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
        display: block;
        vertical-align: bottom;
    }

    &-text {
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 350px) and (max-width: 450px) {
    .contact .form .button-section .contact-btn {
        padding: 10px 20px;
        font-size: 1rem;
    }
}
@media screen and (min-width: 451px) and (max-width: 575px) {
    .contact .form .button-section .contact-btn {
        padding: 10px 20px;
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {  
    .contact .form .button-section .contact-btn {
        padding: 10px 20px;
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 768px) {
    .contact {
        padding-right: 0 !important;
        padding-bottom: 0;
        &-map-section {
            padding-left: 0 !important;
            padding-right: 0 !important;

        }
        .container-fluid {
            iframe {
                padding: 0 !important;
            }
        } 
        .button-section { 
            padding-bottom: 0;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {  
    .contact .form .button-section .contact-btn {
        padding: 10px 25px;
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) { 
    .contact .form .button-section .contact-btn {
        padding: 10px 25px;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1100px) {
    .contact .form .button-section .contact-btn {
        padding: 10px 25px;
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1200px) {
    .contact .form .button-section .contact-btn {
        padding: 10px 30px;
        font-size: 1.6rem;
    }
}