.mentor {
    // padding-top: 140px;
    .section-title {
        // margin-top: 40px;
    }
    &-section {
        padding-top: 40px;
        .mentor-profession {
            color: $main-color;
            font-weight: bold;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .mentor-quote-container {
            .quote-left, .quote-right {
                font-size: 2.4rem;
                color: rgba(23, 95, 130, .7) !important;
            }
            .quote-left {
                float: left;
                padding-right: 7px;
                padding-bottom: 0px;
                margin-top: -16px;
            }
            .quote-right {
                float: right;
                clear: both;
                padding-left: 7px;
            }
        }
        .resume-container {
            padding-top: 60px;
            padding-left: 50px;
            &-work {
                position: relative;
                display: flex;
                border-left: 2px solid $main-color;
                &-icon {
                    position: absolute;
                    left: -25px;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    background: $main-color;
                    color: #FFFFFF;
                    @include border-radius(50%);
                    text-align: center;
                    font-size: 1.6rem;
                }
                &-content {
                    padding-top: 50px;
                    padding-left: 50px;
                    padding-bottom: 70px;
                    .resume-work-section {
                        margin-bottom: 30px;
                        .resume-job-title {
                            display: block;

                            font-weight: bold;
                            color: $main-color;
                            font-size: 1.11rem;
                        }
                        .resume-workplace-title {
                            display: block;
                            color: #666666;
                            font-size: 1rem;

                        }
                        .resume-interval-title {
                            display: block;
                            font-size: 0.9rem;
                            color: #666666;
                            font-weight: bold;
                        }
                    }
                }
            }
            &-education {
                position: relative;
                display: flex;
                border-left: 2px solid $main-color;
                &-icon {
                    position: absolute;
                    left: -25px;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    background: $main-color;
                    color: #FFFFFF;
                    @include border-radius(50%);
                    text-align: center;
                    font-size: 1.6rem;
                }
                &-content {
                    padding-top: 50px;
                    padding-left: 50px;
                    padding-bottom: 70px;
                    .resume-education-section {
                        margin-bottom: 30px;
                        .resume-university-title {
                            display: block;
                            color: #666666;
                            font-size: 1rem;
                        }
                        .resume-profession-title {
                            display: block;
                            font-weight: bold;
                            color: $main-color;
                            font-size: 1.11rem;
                        }
                        .resume-degree-title {
                            display: block;
                            font-size: 0.9rem;
                            color: #666666;
                            font-weight: bold;

                        }
                        .resume-interval-title {
                            display: block;
                            font-size: 0.9rem;
                            color: #666666;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    &-training {
        color: $main-color;
        &:hover {
            color: $main-color;
            text-decoration: none;
        }
    }
}
@media screen and (max-width: 420px) {
    .mentor {
        .section-title {
            font-size: 3rem;
        }
    }
}
@media screen and (max-width: 335px) {
    .mentor {
        .section-title {
            font-size: 2rem;
        }
    }
}
@media screen and (min-width: 768px) {  
    .mentor {
        padding-bottom: 120px;
        &-section {
            .mentor-profession{
                text-align: left;
            }
            .mentor-section-title { 
                font-size: 1rem;
                text-align: left !important;
            }
            .resume-container {
                padding-top: 0;
            }
        }
    }
}

@media screen and (min-width: 465px) and (max-width: 1199px) {
    .mentor-section-title {
        text-align: right !important;
        .section-title {
            display: block;
            margin-right: 45px !important;
            &-line {
                top: -49px;
                right: 0;
                display: inline-block;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .mentor-section-title {
        text-align: right !important;
        .section-title {
            margin-right: 45px !important;
            &-line {
                display: inline-block;
            }
        }
    }
}