.mentors {
    // padding-top: 140px;

    .section-title {
        // margin-top: 40px;
    }
    &-section {
        margin-top: 40px;
    }
    &-description {
        display: block;
        width: 100%;
        color: #444444;
        margin-bottom: 0;
        padding: 10px 7px;
        text-align: center;
        @include transition(all, .6s, ease-out);
    }
    &-name {
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: 0;
    }
    &-job {
        font-size: 1rem;
        margin-bottom: 0;
        color: #555555;
    }
    &-image-container {
        width: 80%;
        margin: 0 auto;
        @include border-radius(50%);
        overflow: hidden; 
    }
    &-image {
        position: relative;
        // margin-top: 30px;
        width: 100%;
        background-color: $main-color;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        &-hover-bg {
            width: 0;
            padding-bottom: 100%;
            background: rgba(23, 95, 130, .5);
            opacity: 0;
            @include transition(all, .6s, ease-out);
        }
    } 
    .mentor-container {
        margin-bottom: 30px;
        &:hover {
            text-decoration: none !important;
            .mentors-image-hover-bg {
                width: 100%;
                opacity: 1;
            }
        }
    }
}
@media screen and (max-width: 420px) {
    .mentors {
        .section-title {
            font-size: 3rem;
        }
    }
}
@media screen and (max-width: 335px) {
    .mentors {
        .section-title {
            font-size: 2rem;
        }
    }
}
@media screen and (max-width: 767px) {  
    .mentors {
        &-text {
            margin-top: 50px;
        }
    }
}
@media screen and (min-width: 768px) {  
    .mentors {
      
    }
}

@media screen and (min-width: 465px) and (max-width: 1199px) {
    .mentors-section-title {
        text-align: right !important;
        .section-title {
            display: block;

            margin-right: 45px !important;
            &-line {
                top: -49px;
                right: 0;
                display: inline-block;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .mentors-section-title {
        text-align: right !important;
        .section-title {
            margin-right: 45px !important;
            &-line {
                display: inline-block;
            }
        }
    }
}