.navbar {
    // height: 100vh;
    background: transparent;
    // background: transparent !important;
    position: absolute;
    top: 120px; 
    left: 0;
    height: 100px;
    z-index: 100;
    width: 100%;
    padding: 0 !important;
    &-brand {
        position: absolute;
        top: -1px;
        left: 0;
        padding: 0;
        z-index: 20;
        &-logo {
            position: relative;
            top: 10px;
            left: 10px;
            height: 60px;
            background-color: #ffffff;
            @include border-radius(50%);
            z-index: 30;
        }
        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            border-left: 70px solid #ffffff;
            border-top: 70px solid #ffffff;
            border-right: 70px solid transparent;
            border-bottom: 70px solid transparent;
            z-index: -1;
        }
    }
    &-toggler {
        position: absolute !important;
        top: 18px !important;
        right: 0 !important;
        //background: #ffffff;
        position: fixed;
        z-index: 100;
        background: transparent !important;
        border: none;
        .icon-span {
            display: block;
            width: 45px;
            height: 3px;
            background: #ffffff;
            margin: 12px;
            @include transition(all, .3s, ease-out);
        }
        &.collapsed {
          
            .middle-bar {
                @include transition(all, .1s, ease-out);
            }
            &:focus {
                outline: none;
            }
            &:hover {
                cursor: pointer;
            }
        }
        &:not(.collapsed) {
            .icon-span {
                width: 55px;
                margin-right: 0;
            }
            .top-bar {
                @include rotate(45deg);
                @include transformOrigin (10%, 10%);
            }
            .middle-bar {
                opacity: 0;
            }
            .bottom-bar {
                @include rotate(-45deg);
                @include transformOrigin (10%, 90%);
            }
        }
    }
    &-collapse {
        // min-height: 100vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
        .navbar-nav {
            .nav-item {
                border: 2px solid transparent; 
                @include border-radius(26px);
                @include transition(all, .6s, ease-out);
                // text-transform: uppercase;
                .nav-link {
                    text-align: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 1.4rem;
                    color: #ffffff;
                    font-family: 'Roboto', sans-serif;
                    
                }
                &:hover {
                    border: 2px solid #ffffff;
                }
                &.active {
                    background: #ffffff;
                    border: 2px solid #ffffff;
                    .nav-link {
                        color: $main-color !important;
                    }
                }
            }
        }
    }
    &-fixed {
        background: $main-color;
        .navbar-collapse.collapse.show {
            height: 100vh;
            background: $main-color;
        }
    }
    &-bg {
        background: $main-color;
    }
}
.navbar:not(.fixed-navbar) {
    // .navbar-collapse.collapse.show {
        // background-color: $main-color;
    // }

    // background: $main-color;
}
@media screen and (min-width: 268px) {
    .navbar {
        top: 88px;
    }
}
@media screen and (min-width: 365px) {
    .navbar {
        top: 80px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {  
}
@media screen and (min-width: 609px) {
    .navbar {
        top: 40px;
    }
}
// WHEN NAVBAR EXPANDED
@media screen and (min-width: 992px) {  
    .navbar {
        height: 100px !important;
        &-collapse {
            min-height: auto !important;
            justify-content: flex-end;
            padding-right: 50px !important;
        }
        .navbar-nav {
            .nav-item {
                @include transition(all, 0s, ease-out);
                .nav-link {
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 1rem;
                    color: #ffffff;
                    text-align: left;
                }
                &:hover {
                    border: 2px solid transparent;
                    border-bottom: 2px solid #ffffff;
                }
                &:not(.active):hover {
                    @include border-radius(0);
                }
                &.active {
                    background: #ffffff;
                    border: 2px solid #ffffff;
                    .nav-link {
                        color: $main-color !important;
                    }
                }
            }
        }
    }
    .navbar-fixed {
        .navbar-collapse {
            height: auto !important;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar {
        &-collapse {
            padding-right: 30px !important;
            // padding-right: 0 !important;
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 1rem;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}
// @media screen and (min-width: 992px) and (max-width: 1199px) {
//     .navbar {
//         &-collapse {
//             padding-right: 30px !important;
//         }
//         .navbar-nav {
//             .nav-item {
//                 .nav-link {
//                     font-size: 1.2rem;
//                     padding-left: 12px;
//                     padding-right: 12px;
//                 }
//             }
//         }
//     }
// }
@media screen and (min-width: 1200px) {
    .navbar {
        &-brand {
            &-logo {
                top: 10px;
                left: 10px;
                height: 90px;
            }
            &-bg {
                border-left: 100px solid #ffffff;
                border-top: 100px solid #ffffff;
                border-right: 100px solid transparent;
                border-bottom: 100px solid transparent;
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 1.2rem;
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }
        }
    }
}