// $circleDiagonal: 200px;
// $ballDiagonal: 20px;
// $borderSize: 2px;
// $shadowPaddingSize: 60px;
// $bgPaddingSize: 1px;
// $imgSize: 100px;
$circleDiagonal: 100px;
$ballDiagonal: 10px;
$borderSize: 2px;
$shadowPaddingSize: 30px;
$bgPaddingSize: 1px;
$imgSize: 60px;
@function firstTopDistance($circleDiagonal, $ballDiagonal) {
    $topDistance: ($circleDiagonal - $ballDiagonal) / 2 ;
    @return $topDistance;
}
@function firstLeftDistance($ballDiagonal, $borderSize) {
    $leftDistance: (-($ballDiagonal + $borderSize)) / 2 ;
    @return $leftDistance;
}
@function secondTopDistance($circleDiagonal, $ballDiagonal) {
    $topDistance: ($circleDiagonal - $ballDiagonal) / 2 ;
    @return $topDistance;
}
@function secondLeftDistance($circleDiagonal, $ballDiagonal, $borderSize) {
    $leftDistance: - (($ballDiagonal) / 2) - $borderSize + $circleDiagonal ;
    @return $leftDistance;
}
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes padding {
    from {
        box-shadow: 0 0 10px 10px rgba(23, 95, 130, .5);
        padding: 0;
    }
    to {
        box-shadow: 0 0 0 0 rgba(23, 95, 130, .5);
        padding: $shadowPaddingSize;
    }
}
@keyframes shadow {
    from {
        box-shadow: 0 0 10px 10px rgba(23, 95, 130, .5);
    }
    to {
        box-shadow: 0 0 0 0 rgba(23, 95, 130, .5);
    }
}
#loading-section {
    background: #FFFFFF;
    width: 100%;
    height: 100vh;
    color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .circle-section {
        position: relative;
        width: $circleDiagonal;
        height: $circleDiagonal;
        display: flex;
        align-items: center;
        justify-content: center;
        border: $borderSize solid $main-color;
        @include border-radius(50%);
        animation: rotate 1s infinite;
        background: #FFFFFF;
        &-container {
            background: #FFFFFF;
            @include border-radius(50%);
            animation: padding 1s infinite;
            &-shadow {
                background: #FFFFFF;
                padding: $shadowPaddingSize;
                @include border-radius(50%);
                animation: shadow 1s infinite;
            }
            &-bg {
                background: $main-color;
                @include border-radius(50%);
            }
        }
    }
    .img-logo {
        position: absolute;
        width: $imgSize;
        z-index: 10;
    }
    .ball-section:first-child {
        top: firstTopDistance($circleDiagonal, $ballDiagonal);
        left: firstLeftDistance($ballDiagonal, $borderSize);
        position: absolute;
        width: $ballDiagonal;
        height: $ballDiagonal;
        background: $main-color;
        @include border-radius(50%);
    }
    .ball-section:last-child {
        top: secondTopDistance($circleDiagonal, $ballDiagonal);
        left: secondLeftDistance($circleDiagonal, $ballDiagonal, $borderSize);
        position: absolute;
        width: $ballDiagonal;
        height: $ballDiagonal;
        background: $main-color;
        @include border-radius(50%);
    }
}
